html,
body {
  margin: 0 auto;
  padding: 0;
  /* font-size: 62.5%; */
  background-color: #f0f0f0;
}
.header {
  height: 200px;
  /* background-image: url("./assets/soleil.JPG"); */
  /* background-color: #b3d9be; */
  background-color: #e4ce97;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lm {
  color: #fff;
}
.container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
}
.firstColone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  /* background-color: #66b8c9; */
  background-color: #faebc6;
}
.rond {
  width: 150px;
  height: 150px;
  border: 2px solid red;
  border-radius: 75px;
}
.secondColone {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #fbf4f4;
}
.content {
  height: 200px;
  padding: 20px;
}
.post-title {
  text-decoration: underline;
}
.post-content {
  letter-spacing: 1px;
}

.soft-content {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  font-size: 0px;
}
.soft-items {
  display: inline-block;
  font-size: 15px;
  padding: 5px 40px;
}
.soft-logo {
  width: 50px;
  height: 50px;
}
.fleche {
  list-style-type: disc;
}
